.b-insta-division {
  @extend .clearfix;
  display: block;
  padding:0 11%;
  padding-bottom: 10%;
}
.b-insta__element {
  width:33%;
  float: left;
  img {
    width: 100%;
    display: block;
  }
  @include breakpoint(mobile){
    width: 100%;
  }
}
