.b-text-block {
  width: 100%;
  max-width: 100%;
  text-align: left;
}
.b-text-block--no-top {
  margin-top:0;
}
.b-text-block--centered {
  display: inline-block;
  float: none;
  text-align: left;
}
.b-text-block__order {
  font-size: cvp(23px, 1200px);
  margin-bottom: cvp(12px, 1200px);
  color: #ff4646;
  @include breakpoint(large){
    font-size: 23px;
    margin-bottom:12px;
  }
  @include breakpoint(mobile){
    font-size:22px;
    margin-bottom: 15px;
  }
}
.b-text-block__heading {
  font-weight: bold;
  margin-bottom: cvp(44px, 1200px);
  font-size: cvp(68px, 1200px);
  @include breakpoint(large){
    font-size: 68px;
    margin-bottom: 44px;
  }
  @include breakpoint(mobile){
    font-size:32px;
  }
}
.b-text-block__heading--small {
  font-weight: 500;
  margin-bottom: cvp(33px, 1200px);
  font-size: cvp(23px, 1200px);
  @include breakpoint(large){
    font-size: 23px;
    margin-bottom:33px;
  }
  @include breakpoint(mobile){
    font-size:22px;
  }
}
.b-text-block__text {
  font-size: cvp(16px, 1200px);
  line-height: cvp(24px, 1200px);
  @include breakpoint(large){
    font-size: 16px;
    line-height: 24px;
  }
  @include breakpoint(mobile){
    font-size: 15px;
    line-height: 27px;
    margin-top: 16px;
  }

}
