.foreverBlack {
  background-color: rgba(0,0,0,0) !important;
}
.header {
  height: 64px;
  line-height: 64px;
  padding:0px;
  position: fixed;
  width: 100%;
  top:0;
  -webkit-transition: top 900ms, background-color 400ms;
  -o-transition: top 900ms, background-color 400ms;
  transition: top 900ms, background-color 400ms;
  z-index: 17;
  &.shown {
    top: 0px;
  }
  &.black {
    .header__link a {
      color:#666;
    }
    background-color: rgba(255, 255, 255, 0.0);
    .after-logo {
      &.black {
        opacity: 0;
      }
      &.white {
        opacity: 1;
        margin-left: -102px;
        margin-top: 23px;
        width: 82px;
      }
    }
  }
  &.white {
    background-color: rgba(255, 255, 255, 0.61);
    .after-logo {
      &.black {
        opacity: 1;
      }
      &.white {
        opacity: 0;
      }
    }
  }
  background-color: rgba(255, 255, 255, 0);
  @include breakpoint(mobile){
    position: absolute;
    top:0;
  }
}
.header--transparent {
  background: transparent;
}
.header__links {
  float: right;
  width: auto;
  height: 100%;
  line-height: 40px;
  margin-right: 20px;
}
.header__link {
  margin-top:0;
  margin-bottom:0;
  height: 100%;
  line-height: 64px;
  a {
    color:#333;
    margin-right: 20px;
    font-weight: 400;
    -webkit-transition: color 400ms;
    -o-transition: color 400ms;
    transition: color 400ms;

  }
}
.after-logo {
  width: 104px;
  float: left;
  margin-top: -27px;
  margin-left: -9px;
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  @include breakpoint(mobile){
    width: 104px;
  }
  @include breakpoint(large){
    width:122px;
  }
}
