.l-division {
  display:block;
  // overflow: hidden;
  margin-bottom: 9%;
  @extend .clearfix;
  img {
    width: 100%;
  }
}
.l-division--40-60 {
  @extend .l-division;
  .l-division__first {
    width: 40%;
    float: left;
  }
  .l-division__second {
    width: 60%;
    float: left;
  }
}
.l-division--60-40 {
  @extend .l-division;
  .l-division__first {
    width: 60%;
    float: left;
  }
  .l-division__second {
    width: 40%;
    float: left;
  }
}

// .img-small {
//   img {
//     width: 73%;
//     margin-left: 11%;
//   }
// }
.l-division__first {
  &.img-small {
    img {
      width: 66%;
      margin-right: 16%;
      float: right;
    }
  }
  &.img-big {
    img {
      width: 115%;
      position: relative;
      left: -20.7%;
    }
  }
  &.img-mini {
    img {
      margin-right: 26%;
      float: right;
      width: 51%;
      margin-top: 3%;
    }
  }
  .b-text-block {
    width: 74%;
    float: right;
    margin-top: 11%;  }
}
.l-division__second {
  &.img-small {
    img {
      width: 73%;
      margin-left: 11%;
    }
  }
  &.img-big {
    img {
      width: 115%;
      position: relative;
      right: -3.7%;
      margin-top: 5%;
    }
  }
  &.img-mini {
    img {
      width: 55%;
      margin-left: 26%;
    }
  }
  .b-text-block {
    margin-left: 13%;
    margin-top: 34%;
    width: 74%;
  }
  .b-text-block--no-top {
    margin-top:0;
  }
}
