.main-container {
  width: 100%;
  max-width: 1260px;
  padding: 30px;
  margin: 0 auto;
  // overflow: hidden
  @extend .clearfix;
  @include breakpoint(large){
    max-width: 1400px;
  }
  @include breakpoint(mobile){
    padding:30px 10px;
  }
}
.section {
  // height: 100vh;
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom:50px;
  margin-top:150px;
  @include breakpoint(mobile){
    margin-top:20px;
    margin-bottom: 0px;
  }
}
.section--padding {
  padding: 0 10%;
  @include breakpoint(mobile){
    padding: 0 5%;
  }
}
.section--phones {
  text-align: center;
  background: #f2f2f2;
  margin: 0;
  padding-top: 150px;
  padding-bottom: 150px;
  @include breakpoint(mobile){
    // height: 500px;
    // padding: 45px 0 70px;
    img {
      height: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      // margin-top: 20px;
      // margin-bottom: 20px;
    }
  }
}
.section--padding-mobile {
  @include breakpoint(mobile){
    padding: 0 5%;
  }
}
.section--division {
  float: left;
  overflow: hidden;
}
.section__division--40 {
  @extend .section--division;
  width: 44%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.section__division--60 {
  @extend .section--division;
  width: 56%;
  float: right;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.text-centered {
  text-align: center;
}
.main-wrapper {
  // overflow: auto;
  width: 100%;
  max-width: 1700px;
  margin:0 auto;
  padding:0 50px;
}
