html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
a:hover, a:active, a:focus {
	outline:none;
}

:root {
    /* One Dark color theme */ 
    --background: #21252b;
    --background-bright: #2d313a;
    --red: #e06c75;
    --cyan: #56b6c2;
    --white: #abb2bf;
    --yellow: #e5c07b;
    --blue: #61afef;
    --magenta: #c678dd;
    --green: #98c379;
    --asciiOpacity: 0.3;
}

body {
    background-color: var(--background);
    background: url("../images/nature-landscape-with-black-sand-beach.jpg");
    color: var(--white);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.7px;
    min-height: 100%;
    background-size: 150%;
    backdrop-filter: saturate(0.5) blur(6px);
    height: 100vh;
}

.link-list {
    padding: 17px 5px 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0000008c;
}

.list-item {
    background-color: transparent;
    padding: 4px 15px;
    text-transform: lowercase;
}

.list-item:before {
    content: "➜";
    color: var(--red);
    margin-right: 17px;
}

.list-item:hover {
    color: var(--yellow);
}

.bottom-bar {
    height: 22px;
    position: fixed;
    width: 100%;
    background-color: var(--background-bright);
    bottom: 0;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
    padding: 0px 8px;
    display: flex;
}
.author {
    margin-left: auto;
    position: relative;
    &:before {
        content: "";
        font-weight: 500;
        display: inline-block;
        width: 6px;
        height: 100%;
        background-color: var(--white);
        text-align: center;
        color: var(--background);
        position: absolute;
        left: -10px;
    }
}

.author span {
    display: inline-block;
}

.author-name {
    color: var(--magenta);
}

.blue {
    color: var(--blue);
}

.divider {
    color: var(--yellow);
}

.heading {
  padding: 40px 20px;
  text-align: center;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: var(--asciiOpacity);
    }
    100% {
        opacity: var(--asciiOpacity);
    }
}

.tag {
    white-space: pre;
    color: var(--magenta);
    width: 970px;
    opacity: var(--asciiOpacity);
    animation: blink 1s infinite;
    position: absolute;
    bottom: 240px;
    
}

.wrapper {
    overflow: hidden;
}