ul {
  padding: 10px;
}

li {
  text-decoration: none;
  list-style-type: none;
  background: white;
  cursor: pointer;
  padding: 5px 9px;
  color: #4e244e;
  margin: 5px 0px;
  vertical-align: middle;
  position: relative;
  transition:color 299ms;
  width: 300px;
  a {
    transition:color 299ms;
    display: block;
  }
}
li:hover {
  a {
    color: #c77d7d;
  }
  &:after {
    background: #c77d7d;
  }
}
a {
  text-decoration: none;
  color: #424242;
  FONT-SIZE: 15PX;
  font-family: Roboto;
}
