body {
  font-family: "Roboto", sans-serif;
  color:#222;
  font-weight: 300;
  position: relative;
  @include breakpoint(mobile){
    overflow-x: scroll;
  }
}
::-webkit-scrollbar {
    display: none;
}
* {
  margin:0;
  padding:0;
}
.main-wrapper {
  // overflow: hidden;
  @extend .clearfix;
}
.mask  {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  // transform: translateX(50%);
  left: 0%;
  background-image: url(#{$assetpath}img/dotted-texture22.png);
  background-size: 7px;
  opacity: 0.41;
  // -webkit-transform: translateX(-10%) rotate(-30deg);
  z-index: 2;
  -webkit-animation: twich 2s infinite forwards;
}
.animateThis {
  position: relative;
  -webkit-transition: all 400ms ease-in-out  ;
  -o-transition: all 400ms ease-in-out  ;
  transition: all 400ms ease-in-out  ;
  // margin-top:-100px;
  // margin-bottom: 100px;
}
.phones {
  width: 100%;
  display: block;
}
.section--phones {
  padding:0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f2f2f2',GradientType=0 );
  .main-container {
    padding:0;
  }
}
.section--hos {
  position: relative;
  margin-top:0;
  display: none;
  img {
    width: 100%;
  }
}
.b-hos-text {
  position:absolute;
  width: 35%;
  font-family: $text__family--Roboto-Condensed;
  font-weight: bold;
  font-style: italic;
  top: 25%;
  left: 43%;
  font-size: 85px;
  line-height: 84px;
  @include breakpoint(middle){
    font-size:cvp(97px,1800px);
    line-height:cvp(88px,1800px);
  }
  @include breakpoint(xlarge){
    font-size:cvp(100px,1800px);
    line-height:cvp(98px,1800px);
  }

}
.b-hos-link {
  margin-left: 15%;
  display: none;
  font-style: normal;
  color: white;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin-top: 8%;
  font-size: 20px;
  @include breakpoint(middle){
    font-size:cvp(20px,2000px);
  }
  @include breakpoint(middle){
    font-size:cvp(16px,1800px);
  }
}
.section--nebojsa {
  display: none;
  background-color:black;
  margin:0;
  position: relative;
  padding: 0;
  height: 100vh;
  .main-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    background: rgba(0, 0, 0, 0.65);
    @include breakpoint(mobile){
      background-position: 17% 19%;
    }
  }
  .video-nebojsa {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 6%;
    @include breakpoint(littlemobile) {
      width: 250%;
      display: none;
    }
  }
  .nebojsa-gif {
    display: none;
    @include breakpoint(mobile){
      display: block;
      position: absolute;
      top: 50%;
      height: 64%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .button {
    display: inline-block;
    float: none;
    border: 1px solid white;
    padding: 20px 56px;
    color: white;

  }

}

.animateThis2 {
  @extend .animateThis;

}
@keyframes twich {
  0% {background-image: url(#{$assetpath}img/dotted-texture22.png); }
  // 49% {background-image: url(#{$assetpath}img/dotted-texture22.png); }
  50% {background-image: url(#{$assetpath}img/dotted-texture20.png); }
  // 99% {background-image: url(#{$assetpath}img/dotted-texture20.png); }
 }
@keyframes tilt {
  0%   {left:-2px;}
  20%   {left:-4px;}
  40%   {left:-6px;}
  60%   {left:-8px;}
  80%   {left:-10px;}
  100%   {left:-12px;}
}
.viewport__container {
  width: 100%;
  height: 100vh;
  position: relative;
  canvas {
    width: 100%;
  }
}
.main-heading {
  text-align: center;
  position: absolute;
  opacity: 0;
  bottom: 20vh;
  font-size: cvp(78px,1200px);
  font-weight: 900;
  color: #222;
  line-height: cvp(98px,1200px);
  left: 50%;
  transform: translateX(-50%);
  width: 87%;
  // text-align: left;
  @include breakpoint(large){
    font-size: 78px;
    line-height: 98px;
    width: 1050px;
    // bottom:304px;
  }
}
a {
  text-decoration: none;
}
h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}
ul {
  margin:0;
  padding: 0;
  width: 100%;
  text-align: center;
}
li {
  list-style-type: none;
  display: inline-block;
  margin:10px;
}

.fold-actions__container {
  position: fixed;
  top:100vh;
  width: 100%;
  height: 6%;
  z-index: 2222;
}
.fold-actions {
  position: relative;
  top: 0%;
  height: 100%;
  line-height: 6%;
  background: rgba(255, 255, 255, 0.61);
  text-align: center;
  z-index: 99;
  cursor: pointer;
  width: 100%;
  @include breakpoint(mobile){
    display: none;
  }
}
.arrow {
  display: inline-block;
  height: 100%;
  background-image: url(#{$assetpath}img/arrow.png);
  height: 100%;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 15px;
}
.text-block {
  max-width: 540px;
  margin-bottom: cvp(69px,1200px);
  @include breakpoint(large){
    margin-bottom:69px;
  }
  @include breakpoint(mobile){
    font-size: 15px;
    line-height: 26px;
  }

}
.powerNap {
  padding-top:280px;

   @include breakpoint(mobile){
     padding: 30px 10px;
   }
}
.text-block--centered {
  display: inline-block;
  float: none;
  text-align: left;
}
.text-block__order {
  font-size: cvp(23px, 1200px);
  margin-bottom: cvp(12px, 1200px);
  color: #ff4646;
  @include breakpoint(large){
    font-size: 23px;
    margin-bottom:12px;
  }
  @include breakpoint(mobile){
    font-size:22px;
    margin-bottom: 15px;
  }
}
.text-block__heading {
  font-weight: bold;
  margin-bottom: cvp(44px, 1200px);
  font-size: cvp(68px, 1200px);
  @include breakpoint(large){
    font-size: 68px;
    margin-bottom: 44px;
  }
  @include breakpoint(mobile){
    font-size:32px;
  }
}
.text-block__heading--small {
  font-weight: 500;
  margin-bottom: cvp(33px, 1200px);
  font-size: cvp(23px, 1200px);
  @include breakpoint(large){
    font-size: 23px;
    margin-bottom:33px;
  }
  @include breakpoint(mobile){
    font-size:22px;
  }
}
.text-block__text {
  font-size: cvp(16px, 1200px);
  line-height: cvp(24px, 1200px);
  @include breakpoint(large){
    font-size: 16px;
    line-height: 24px;
  }
  @include breakpoint(mobile){
    font-size: 15px;
    line-height: 27px;
    margin-top: 16px;
  }

}
.button {
  display: block;
  float: left;
  color: #ff4646;
  margin-top: cvp(33px, 1200px);
  font-size: cvp(16px, 1200px);
  cursor:pointer;
  @include breakpoint(large){
    margin-top: 30px;
    font-size: 16px;
  }
  @include breakpoint(mobile){
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.iphone {
  margin-top: cvp( 119px, 1200px);
  max-width: 100%;
  width: 72%;
  margin-right: 28%;
  @include breakpoint(large){
    margin-top:  119px;
  }
  @include breakpoint(mobile){
    margin-top: 50px;
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    float: none;
    display: block;
    margin-top: 50px;
  }
}
.graphic-container {
  width: 100%;
  // overflow: hidden;
  width: 100%;
  // overflow: hidden;
  // margin-top: 55px;
  float: left;
  padding: 0 10%;
  margin-top: 50px;
  @include breakpoint(mobile){
    padding: 0;
    margin-top:20px;
  }
}
.graphic-container--left,
.graphic-container--right {
  width: 50%;
  float: left;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.graphic-container--left {
  padding-right:6%;
  @include breakpoint(mobile){
    padding:0;
  }
}
.graphic-container--right {
  padding-left:6%;
  margin-top:10%;
  @include breakpoint(mobile){
    padding:0;
    margin-top:0;
  }
}
.graphic-container__item {
  width: 100%;
  margin-bottom:22.6%;
  float: left;
  img {
    width: 100%;
  }
  @include breakpoint(mobile) {
    margin-bottom:25px;
  }
}
.graphic-container__item--type1 {
  width: 85%;
  float: right;
  margin-left:15%;
  @include breakpoint(mobile){
    width: 100%;
    margin-left:0;
  }
}
.graphic-container__item--type2 {
  width: 85%;
  float: left;
  margin-right:15%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.first {
  margin-left:0;
}
.last {
  margin-right: 0;
}
.soundcloud__container {
  float: left;
  position: relative;
  width: 100%;
}
.soundcloud {
  width: 100%;
  padding:0 10%;
  float: left;
  position: relative;
  margin-top:14%;
  text-align: center;
  img {
    width:100%;
    margin-bottom: 150px;
    @include breakpoint(mobile){
      margin-bottom: 50px;
      margin-top: 20px;
    }
  }
}
.soundcloud--left,
.soundcloud--right {
  float: left;
  // margin-top:-300px;
}
.soundcloud--left {
  width:58%;
  padding-right:5%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.soundcloud--right {
  width: 42%;
  text-align: left;
  float: right;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.soundcloud__background {
  // background: #f2f2f2;
  width: 50%;
  position: absolute;
  top:0;
  left:25%;
  top:10%;
  height: 49%;
  background-image: url(#{$assetpath}img/soundcloud-lines.png);
  background-repeat: no-repeat;
  background-size: contain;
  // max-height: 371px
  @include breakpoint(mobile){
    display: none;
  }
}
.footer {
  position: relative;
  top:16vh;
  width: 100%;
  border-top:1px solid #f2f2f2;
  float: left;
  padding: 3% 5%;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  &.shown {
    top:0px;
  }
  @include breakpoint(mobile){
    padding-top: 54px;
    padding: 7% 5%;
  }
}
.footer-elements {
  width: 100%;
}
.footer-elements__item {
  display: inline-block;
  width: 24%;
  list-style-type: none;
  vertical-align: top;
  margin:0;
  .after-logo, .we-are {
    display: block;
    float: left;
    margin:0;
  }
  .after-logo {
    width: 92px;
    margin-right: 27px;
  }
  @include breakpoint(mobile){
    width:100%;
  }
}
.footer-elements__item:nth-child(3){
  width: 15%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.footer-elements__item:nth-child(4){
  width: 35%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.footer-nav__element {
  display: block;
  margin-bottom: 15px;
  text-align: left;
  // color: #ccc;
}
.footer-elements__contact {
  float: left;
  text-align: left;
  p {
    margin-bottom:6px;
  }
  a {
    color:#ff4646;
  }
}
.map {
  float: left;
  margin-right:20px;
  width: 27%;
  max-width: 150px;
  @include breakpoint(mobile){
    display: none;
  }
}
.footer-social__item {
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  display: block;
  margin: 0;
  margin-right: 13px;
  float: left;
  margin-top: 20px;
}
.footer-social {
  margin-top:60px;
}
.fb {
    background-image: url(#{$assetpath}img/fb.png);
    margin-top: 17px;
}
.twitter {
    background-image: url(#{$assetpath}img/twitt.png);
}
.gplus {
    background-image: url(#{$assetpath}img/gplus.png);
}
.insta {
    background-image: url(#{$assetpath}img/insta.png);
}
.shapes-background {
  background-image: url(#{$assetpath}img/shapes-background.png);
  background-size: 100%;
  background-size: 100%;
  background-position: 0 73%;
  margin-bottom: 0;
  background-repeat: no-repeat;
}
