.lab-mask {
  position: absolute;
  background: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.line {
  position: relative;
  &:after {
    position: absolute;
    width: 90px;
    height: 2px;
    top: calc(50% - -4px);
    margin-left: 11px;
    background: black;
    content: '';
  }
}
.line--gray {
  @extend .line;
  &:after {
    background: #424242;
  }
}
.line--white {
  @extend .line;
  &:after {
    background: white;
  }
}
.line--black {
  @extend .line;
  &:after {
    background: #222222;
  }
}
